
sql.png
sql_grading_rubric.pdf
README.md
09-sql-database-design.md
09-sql_instructions.md
postgres/pgAdmin_and_Postgres.md
postgres/Images/windows_files.png
postgres/Images/stack_builder_pc.png
postgres/Images/stack_builder_mac.png
postgres/Images/server_connect.png
postgres/Images/PostgreSQL_folder.png
postgres/Images/postgresql-11.1-1-windows-x64.png
postgres/Images/postgresql-11.1-1-osx.png
postgres/Images/pgAdmin_browser.png
postgres/Images/pc_mysql_download.png
postgres/Images/mysql_standalone.png
postgres/Images/mysql_root_pw.png
postgres/Images/mysql_installing.png
postgres/Images/mysql_install_option.png
postgres/Images/mac-installer-root-password.png
postgres/Images/02-LocalhostConnect_Outcome.png
postgres/Images/01-Localhost_NewConnection.png
